@*
    explanation about the site JCE-STD 
*@

@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>
<p>
    אנחנו ארבעה סטודנטים מהמכללה להנדסה אקדמית בי-ם .
    לאחר שנתיים במכללה החלטנו לבנות אתר שירכז את מטלות הבית באופן מסודר יותר מאתר המכללה,תחת קטגוריה של כל קורס ומסודר באופן כרונולגי,מהתאריך הקרוב אל הרחוק ביותר.
    מקווים שתהנו מהאתר
    .אריאל,סטס,אורן ומוטי
</p>
