@*
    explanation on the functions on the web site.
*@
@{
    ViewBag.Title = "Help";
}

<h2>Help</h2>

<p>
.הינו אתר אשר עוזר לסטודנטים מהמכללה האקדמית להנדסה ירושלים JCESTD אתר 
באתרנו ישנם כמה אפשרויות לבחירה:<br />
.LogOn זאת עושים על ידי לחיצה על כפתור  ,Login על מנת להיכנס לאתר יש לבצע <br />
.לאחר כניסה לדף הרישום של האתר יש להזין שם משתמש וסיסמא של הסטודנט אשר עימם הוא נכנס לאתר של המכללה<br />
.אחרי כניסה מוצלחת מופיע לסטודנט רישמה של כל התרגילים בכל הקורסים אליהם הוא רשום ובנוסף כפתור שלחיצה עליו תפנה את הסטודנט למערכת שעות שלו
<br />
.About אפשרות נוספת היא לקבל את האודות על האתר וזאת עושים ע"י לחיצה על כפתור
</p>