<h2 align=right>שלום מוטי עזרן</h2>
<h3 align=right>שם הקורס: אותות ומערכות</h3>              
<h4 align=right>: תרגילים להורדה</h4>
@for (var i = 1; i < 4; i++)
{
    string temp = "/courses/signals_and_systems/ex" + @i + ".pdf";
   <span style="float:right;"><a href=@temp>@i תרגיל  </a> </span>
   <br />
}

<h3 align=right>שם הקורס: יישומי תקשורת</h3>              
<h4 align=right>: תרגילים להורדה</h4>
@for (var i = 1; i < 4; i++)
{
    string temp = "/courses/network_application/ex" + @i + ".pdf";
   <span style="float:right;"><a href=@temp>@i תרגיל  </a> </span>
   <br />
}

<h3 align=right>שם הקורס: תקשורת מחשבים</h3>              
<h4 align=right>: תרגילים להורדה</h4>
@for (var i = 1; i < 5; i++)
{
    string temp = "/courses/computers_communication/ex" + @i + ".pdf";
   <span style="float:right;"><a href=@temp>@i תרגיל  </a> </span>
   <br />
}

<h3 align=right>שם הקורס: חשיבה יצירתית</h3>              
<h4 align=right>: תרגילים להורדה</h4>
@for (var i = 1; i < 4; i++)
{
    string temp = "/courses/creative_thinking/ex" + @i + ".pdf";
   <span style="float:right;"><a href=@temp>@i תרגיל  </a> </span>
   <br />
}

<p>
    
</p>
