<h2 align=right>שלום אורן זבולוני</h2>
<h3 align=right>שם הקורס: סטטיסטיקה והסתברות 2</h3>
<h4 align=right>: תרגילים להורדה</h4>
@for (var i = 1; i < 12; i++)
{
    string temp = "/courses/statistics_and_probability2/ex" + @i + ".pdf";
   <span style="float:right;"><a href=@temp>@i תרגיל  </a> </span>
   <br />
}

<h3 align=right>שם הקורס: מבוא לתכנות מדעי</h3>
<h4 align=right>: תרגילים להורדה</h4>
@for (var i = 1; i < 5; i++)
{
    string temp = "/courses/science_programming/ex" + @i + ".pdf";
   <span style="float:right;"><a href=@temp>@i תרגיל  </a> </span>
   <br />
}

<h3 align=right>שם הקורס: תקשורת מחשבים</h3>
<h4 align=right>: תרגילים להורדה</h4>
@for (var i = 1; i < 5; i++)
{
    string temp = "/courses/computers_communication/ex" + @i + ".pdf";
   <span style="float:right;"><a href=@temp>@i תרגיל  </a> </span>
   <br />
}

<h3 align=right>שם הקורס: אוטומטים ושפות פורמליות</h3>
<h4 align=right>: תרגילים להורדה</h4>
@for (var i = 1; i < 7; i++)
{
    string temp = "/courses/automation/ex" + @i + ".pdf";
   <span style="float:right;"><a href=@temp>@i תרגיל  </a> </span>
   <br />
}
<p>
    
</p>